<section id="login-page" class="login">
    <form #loginForm="ngForm" (ngSubmit)="loginHandler(loginForm.value)">
        <fieldset>
            <legend>Login Form</legend>
            <p class="field">
                <label for="email">Email</label>
                <span class="input">
                    <input #emailInput="ngModel" required="true" [email]="true" type="text" name="email" id="email" placeholder="Email" ngModel>
                </span>
            </p>
            <ng-container *ngIf="emailInput.touched">
                <p *ngIf="emailInput.errors?.['email']" style="color: red;">Invalid email!</p>
                <p *ngIf="emailInput.errors?.['required']" style="color: red;">Email required!</p>
            </ng-container>
            <p class="field">
                <label for="password">Password</label>
                <span class="input">
                    <input #passInput="ngModel" required="true" minlength="5" type="password" name="password" id="password" placeholder="Password" ngModel>
                </span>
            </p>
            <ng-container *ngIf="passInput.touched">
                <p *ngIf="passInput.errors?.['minlength']" style="color: red;">Password Must be at least 5 characters!</p>
                <p *ngIf="passInput.errors?.['required']" style="color: red;">Password required!</p>
            </ng-container>

            <input [disabled]="loginForm.invalid" class="button submit" type="submit" value="Login">
            <h4>If you don't have account <a style="color: tomato;" routerLink="/auth/register">Register!</a></h4>
        </fieldset>
    </form>
</section>