<!-- Dashboard Page ( for Guests and Users ) -->
<section id="dashboard-page" class="dashboard">
    <h1>STORE</h1>
    <!-- Display ul: with list-items for All books (If any) -->
    <div id="search">
        <input ngModel #searchInput="ngModel" id="searchBox" type="text">
        <button (click)="searchHandler(searchInput.value)">Search</button>
    </div>
    <ul *ngIf="ifBooks && searchInput.value === ''" class="other-books-list">
        <li *ngFor="let book of bookList" class="otherBooks">
            <h3>{{book.title}}</h3>
            <p>Type: {{book.genre}}</p>
            <p class="img"><img src="{{book.imageUrl}}"></p>
            <a class="button" routerLink="/book/details/{{book._id}}">Details</a>
        </li>
        
    </ul>
    <ul *ngIf="searchInput.value !== ''" class="other-books-list">
        <li *ngFor="let book of searchResult" class="otherBooks">
            <h3>{{book.title}}</h3>
            <p>Type: {{book.genre}}</p>
            <p class="img"><img src="{{book.imageUrl}}"></p>
            <a class="button" routerLink="/book/details/{{book._id}}">Details</a>
        </li>
        
    </ul>
    <!-- Display paragraph: If there are no books in the database -->
    <p *ngIf="searchInput.value !== '' && searchResult.length < 1" class="no-books">No found books!</p>
    <p *ngIf="!ifBooks" class="no-books">No books in database!</p>
</section>