<section id="my-books-page" class="my-books">
    <h1>My Books</h1>
    
    <ul *ngIf="ifBooks" class="my-books-list">
        <li *ngFor="let book of bookList" class="otherBooks">
            <h3>{{book.title}}</h3>
            <p>Genre: {{book.genre}}</p>
            <p class="img"><img src={{book.imageUrl}}></p>
            <a class="button" routerLink="/book/edit/{{book._id}}">Edit</a>
            <a class="button" routerLink="/book/delete/{{book._id}}">Delete</a>
        </li>
        
    </ul>
    
    <p *ngIf="!ifBooks" class="no-books">No books in database!</p>
</section>
