<div class="card">
    <input type="image" src="https://scontent.fvar1-1.fna.fbcdn.net/v/t39.30808-6/280034244_5565545936808771_7473554278347165059_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=bkJad8SAeN0AX9CK3Wo&_nc_ht=scontent.fvar1-1.fna&oh=00_AfBLpB0P7SiRaNUqPI0MKX4RGNN5hsWh8trEKOfcmqKqSg&oe=63A3AC98" alt="John" style="width:100%">
    <h1>{{user.username}}</h1>
    <p class="title">Student</p>
    <p>@: <a href="https://softuni.bg/"><i class="fa fa-facebook" aria-hidden="true"></i>Software University - Softuni</a></p>
    <p><a id="button" href="https://www.facebook.com/hristopturs">Contact</a></p>
    <!-- <p><a id="button">Edit User</a></p> -->
</div>
<section id="dashboard-page" class="dashboard">
    <h1>Bought Books</h1>
    <!-- Display ul: with list-items for All books (If any) -->
    <ul *ngIf="ifBooks" class="other-books-list">
        <li *ngFor="let book of bookList" class="otherBooks">
            <h3>{{book.title}}</h3>
            <p>Type: {{book.genre}}</p>
            <p class="img"><img src="{{book.imageUrl}}"></p>
            <a class="button" routerLink="/book/details/{{book._id}}">Details</a>
        </li>

    </ul>
    <!-- Display paragraph: If there are no books in the database -->
    <p *ngIf="!ifBooks" class="no-books">No books in database!</p>
</section>