<!-- Details Page ( for Guests and Users ) -->
<section id="details-page" class="details">
    
    <div class="book-information">
        <h3>{{oneBook?.title}}</h3>
        <p class="type">Genre: {{oneBook?.genre}}</p>
        <p class="img"><img src={{oneBook?.imageUrl}}></p>
        
        <div class="actions">
            <ng-container *ngIf="user">
                <a *ngIf="oneBook?._ownerId._id !== user?._id" class="button" (click)="buyBook(oneBook?._id, user?._id)">Buy</a>
            </ng-container>
            
            <div class="likes">
                <span id="total-likes">$: {{oneBook?.price}}</span>
            </div>
        </div>
    </div>
    <h3 class="type">Author: {{oneBook?.author}}</h3>

    <div class="book-description">
        <h3>Description:</h3>
        <p>{{oneBook?.description}}</p>
        <h1 *ngIf="oneBook?._ownerId._id === user?._id" style="color: red;">This is your book!</h1>
        <h1 *ngIf="!user" style="color: red">Log in if you want this book!</h1>
    </div>
</section>
