<!-- Details Page ( for Guests and Users ) -->
<section>
    
    <div id="action-details">
        <p class="img"><img src={{oneBook?.imageUrl}}></p>
        <div>
            <ng-container *ngIf="user">
                <a class="button" *ngIf="oneBook?._ownerId._id !== user?._id && canBuy" (click)="buyBook(oneBook?._id, user?._id)">Buy</a>
                <span> Price-$: {{oneBook?.price}}</span>
            </ng-container>
            <div>
            </div> 
        </div>
    </div>
    
    <div id="static-details">
        <h1> Title: {{oneBook?.title}}</h1>
        <h3>Author: {{oneBook?.author}}</h3>
        <h3 class="type">Genre: {{oneBook?.genre}}</h3>
        <h3>Description:</h3>
        <p>{{oneBook?.description}}</p>
        <h1 *ngIf="oneBook?._ownerId._id === user?._id" style="color: red;">This is your book!</h1>
        <h1 *ngIf="!user" style="color: red">Log in if you want this book!</h1>
        <h1 *ngIf="!canBuy" style="color: red">You already bought this book!</h1>
    </div>
</section>
